.main--container {
    padding: 5.5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content__about {
    width: 574px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__content__title {
    font-size: 36px;
    font-family: var(--font-title);
}

.main__content__text {
    font-size: 24px;
    font-family: var(--font-text);
}

