/* Mobile Styles */
@media (max-width: 1200px) {
    body {
        height: 100%;
    }

    .header__content {
        padding: 10%;
    }

    .header__menu {
        display: flex;
        justify-content: center;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }

    .main__content {
        padding: 10%;
    }

    .buttons__link {
        width: 378px;
    }
}