/* CSS imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Document */

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.markup {
    color: var(--contrast-color);
}


.header-container {
    display: flex;
    padding: 2% 15% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 24px;
    font-weight: 400;
}

.header__menu__link:hover {
    color: var(--nav-link-color-hover);
    transition: .3s;
}

.main-container {
    padding: 5.0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__content__title {
    font-size: 36px;
    font-family: var(--font-title);
}

.main__content__text {
    font-size: 24px;
    font-family: var(--font-text);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.buttons__subtitle {
    font-family: var(--font-subtitle);
    font-weight: 400;
    font-size: 24px;
}

.buttons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--contrast-color);
    width: 378px;
    text-align: center; 
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-text)
}

.buttons__link:hover {
    background-color: var(--button-color-hover);
    transition: .3s;
}

.footer-container {
    background-color: var(--bg-color-footer);
    width: 100%;
    padding: 24px 0px;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    font-family: var(--font-text);
    color: var(--footer-text-color);
}

